:root{
	--color1: #3a405a;
	--color2: #aec5eb;
	--color3: #edafb8;
	--color4: #f7e1d7;
	--color5: #dedbd2;
	--color6: #ffffff;
	--color7: #000000;
	--color8: #fecee9;
	--color9: #6194e4;
	--colorA: #e4f0f5;
	--colorB: #d7feff;
	--colorC: #64b6ac;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: Open Sans;
	margin: 0;
	padding: 0;
	box-sizing: border-box;min-width: 300px;
}

#container{
	width: 300px;
	margin: 0 auto;
	padding: 5px;
	background-color: var(--color6);
	border: 0;
	border-radius: 5px;
}

#input-el{
	width: 100%;
	background-color: var(--color4);
	color: var(--color1);
	padding: 5px;
	margin-bottom: 5px;
	border: 1px solid var(--color3);
	border-radius: 5px;
}

#btn-container{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

#input-btn{
	background-color: var(--colorA);
	color: var(--color9);
	font-weight: bold;
	padding: 5px;
	margin-top: 5px;
	border: 1px solid var(--color2);
	border-radius: 5px;
}

#input-btn:hover{
	color: var(--color9);
	font-weight: normal;
	transform: scale(0.9);
	transition: transform 0.2s ease-in-out 0ms;
}

#tab-btn{
	background-color: var(--colorB);
	color: var(--colorC);
	font-weight: bold;
	padding: 5px;
	margin-top: 5px;
	border: 1px solid var(--colorC);
	border-radius: 5px;
}

#tab-btn:hover{
	color: var(--colorC);
	font-weight: normal;
	transform: scale(0.9);
	transition: transform 0.3s ease-in-out 0ms;
}

#del-btn{
	background-color: var(--color4);
	color: var(--color3);
	font-weight: bold;
	padding: 5px;
	margin-top: 5px;
	margin-right: 0;
	border: 1px solid var(--color3);
	border-radius: 5px;
}

#del-btn:hover{
	color: var(--color1);
	font-weight: normal;
	transform: scale(0.9);
	transition: transform 0.3s ease-in-out 0ms;
}

#ul-el{
	width: 80%;
	margin: 5px auto;
	padding: 5px;
	color: var(--color1);
	font-family: Sawasdee;
}

li{
	color: var(--color3);
}

a{
	color: var(--color2);
	text-decoration: none;
	font-weight: bold;
}

a:hover{
	color: var(--color1);
}